RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\.dentistsearchusa\.com  [NC]
RewriteRule ^(.*)$ http://www.dentistsearchusa.com/$1 [R=301,L] 
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
